{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h4>Vous êtes un(e) {{ choix }} (vous bénéficiez d'une remise de {{ remise }}%)</h4>
    <h4>Rappel - mesures de la haie ({{ type}}) : Longeur de {{ longeur }}m, Hauteur de {{ hauteur }}m</h4>
    <h4>Vous avez obtenu une remise de {{ montantremise}} €</h4>
    <h4>Le montant de votre devis est de {{ montant}} €</h4>
    <a href="{{ path('home') }}">Revenir à l'accueil</a>
</div>

{% endblock %}
